In [9]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'name':['alice','bob','charlie','alice','bob','charlie'],'categories':['A','B','C','A','B','C'],'value':np.random.randint(1,5,size=6),'score':np.random.randint(60,100,size=6)})
print("\n original DataFrame:\n",df)
df1=df.groupby(('name'),as_index=False)['value'].sum()
print("\n Group and aggregation with one column:\n",df1)

 original DataFrame:
       name categories  value  score
0    alice          A      4     61
1      bob          B      3     74
2  charlie          C      1     89
3    alice          A      1     61
4      bob          B      2     98
5  charlie          C      4     98

 Group and aggregation with one column:
       name  value
0    alice      5
1      bob      5
2  charlie      5

In [10]:
df2=df.groupby(('name'),as_index=False)[['value','score']].sum()
print("\n Group and aggregation with two column sum:\n",df2)

 Group and aggregation with two column sum:
       name  value  score
0    alice      5    122
1      bob      5    172
2  charlie      5    187

In [12]:
df3=df.groupby(('name'),as_index=False)['value'].agg('sum')
print("\n Group and aggregation with two column sum:\n",df3)

 Group and aggregation with two column sum:
       name  value
0    alice      5
1      bob      5
2  charlie      5

In [13]:
df4=df.groupby('name').agg({'value':['sum','mean','min','max'],'score':['sum','mean']})
print("\n Group by name multiple aggregation:\n",df4)

 Group by name multiple aggregation:
         value              score
          sum mean min max   sum  mean
name
alice       5  2.5   1   4   122  61.0
bob         5  2.5   2   3   172  86.0
charlie     5  2.5   1   4   187  93.5

In [17]:
df5=df.groupby(('name'),as_index=False)['value'].count()
print("\n Group and count:\n",df5)

 Group and count:
       name  value
0    alice      2
1      bob      2
2  charlie      2

In [19]:
df6=df.groupby(('name')).count()
print("\n Group and count:\n",df6)

 Group and count:
          categories  value  score
name
alice             2      2      2
bob               2      2      2
charlie           2      2      2

In [22]:
df7=df.groupby(('name'),as_index=False)['value'].first()
print("\n Group and display first:\n",df7)

 Group and display first:
       name  value
0    alice      4
1      bob      3
2  charlie      1

In [23]:
df8=df.groupby(('name')).first()
print("\n Group and count:\n",df8)

 Group and count:
         categories  value  score
name
alice            A      4     61
bob              B      3     74
charlie          C      1     89

In [27]:
df9=df.groupby(('name'),as_index=False)['value'].last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
       name  value
0    alice      1
1      bob      2
2  charlie      4

In [28]:
df10=df.groupby(('name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
         categories  value  score
name
alice            A      1     61
bob              B      2     98
charlie          C      4     98